body {
  font-family: "Montserrat";
}



.iphonecat {
  /* width:318px;
    height:580px; */
  /* width: 60%; */
  /* height: 709px; */
  transform: rotate(19deg);
  /* margin-left: 43px; */
      /* margin-left: 139px; */

position: absolute; /*inorder to overlap the image*/
/* width: 369px;
height: 649px; */
  width: 317px;
    height: 575px;

}

.catbrand_name {
  font-family: "Ubuntu";
  text-decoration: none;
  font-size: 2.3rem;
  font-weight: 500;
/*color: #ff4c68;*/
  color: #FFEBEC;
}

.catbrand_name:hover {
  /*color: #FFCFD2;*/
  /*color: #FF99A9;*/
  color: #FFCFD2;
  text-decoration: none;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.Main_Heading {
  font: "Montserrat-Black";
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;

<i class="fab fa-apple"></i>

 */
.container-fluid {
  padding: 3% 15% 8%; /*8% inoder to add padd padding from bottom*/
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
}

.download-button {
  margin: 5% 3% 5% 0;
}

/*first section - end*/
/* features section */
#features{
  background-color: #fff;
   position: relative; /*inoder to put the iphone image under the page */
  z-index: 1;
}

.icons-middle{
  font-family: "Montserrat";
  font-size:1.5rem;
  font-weight: bold;
}

.middle-paragraph{
  color:#8f8f8f;
}


.fluidish-row{
  text-align: center;
  padding: 5% 14%;
}

.middle-row-div{
  padding:5%;
}


.icon{
  margin-bottom: 1rem;
  color:#ef8172;
}

.icon:hover{
  color:#ff4c68;
}


/* testimonial section */
#testimonials{

  text-align: center;
    background-color:#ef8172;
    color:#fff;

}
.carousel-item{
    padding: 6% 19%;
}

.Testimonials_Text{
  font-family: "Montserrat";
  font-size: 2rem;
  line-height: 1.5;
  font-weight:bold;
}

.Testimonials_Img1,.Testimonials_Img2{
width: 160px;
height:160px;
border-radius: 100%;
margin: 20px;
}


#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width:15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing{
  padding:100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}


/* Call to Action section */

#cta{
  background-color: #ff4c68;
  color:#fff;
}
.cta_header{
  font-size: 3rem;
  font-weight: bold;
  padding-bottom:2%;

}

.cta_section_div{
padding: 6% 15% 4%;
font-family: "Montserrat";
text-align: center;


}

/* footer section */

#footer{
  background-color: #fff;
  text-align: center;
}
.footer_icon{
  padding:1%;
}
.footer_paragraph{
      padding-top: 6%;
        padding-bottom: 5%;
}

.icon_div{
  padding: 0 18%;
  padding-bottom: 4px;
}







@media (max-width: 780px) {


.iphonecat, .sam{
  position: static;
  transform: rotate(0);
}

.Main_Heading{
  text-align: center;
}

}
